footer.ant-layout-footer{
    height: 7%;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}